/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-weight: bold;
  color: #6685A3;
  margin: 5px 0px 10px;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: #6685A3;
  margin: 0px 4px 10px;
}

h3 {
  font-weight: bold;
  color: #6685A3;
  margin: 0px 0px 6px;
}

.disclosureFilter {
  font-weight: bold;
}

/* Add Roles panel */
.searchPanel {
  margin: 4px 3px 4px 3px;
}

/* Add Roles List Box */
.rolesBox {
  margin-top:4px;
  margin-bottom:10px;
}

/* Add Category Box */
.categoryBox {
  margin-top:4px;
  margin-bottom:10px;
}

.usersBox {
  margin-top:4px;
  margin-bottom:10px;
}

/*
.inheritanceNode {
  border: 2px solid silver;
  background-color: #F0F0F0;
}*/

/* stock list header row */
.tableH {
  background-color: #99ADC2;
  color: white;
  font-style: italic;
  text-align: center;
}

.tableR1 {
  background-color: #BFCCD9;
}

.tableR2 {
  background-color: #DBE4ED;
}


/* stock list flex table */
.sudosList {
  border: 1px solid silver;
  margin-bottom: 6px;
}


.filterRolesTextBox {
  margin-top: 4px;
  margin-bottom: 6px;
}

.filterUsersTextBox {
  margin-top: 4px;
}
.rolesSearchPanel {
  margin: 5px 0px 10px 0px;
}

.decRolePanel {
  margin: 3px 4px 3px 4px;
}

.roleOrgChart {
  margin: 0px 4px 3px 4px;
}